@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input:invalid[data-focused="true"],
  textarea:invalid[data-focused="true"] {
    border: 1px solid red;
    margin-bottom: 6px;
  }

  input:invalid[data-focused="true"] ~ span,
  textarea:invalid[data-focused="true"] ~ span {
    visibility: visible;
    opacity: 1;
    height: auto;
    margin-bottom: 10px;
  }

  textarea {
    height: 108px;
  }

  .heading {
    @apply font-extralight tracking-wide mb-[20px] md:text-5xl text-flaex-heading text-4xl font-lucyCat mt-2;
  }
  .title {
    @apply font-bold mb-[20px] md:text-lg text-flaex-hover-text font-montserrat;
  }
  .message {
    @apply max-w-[100%] py-1 text-center m-auto font-light tracking-wide md:text-xl md:py-2 lg:max-w-[60%] text-flaex-text;
  }

  .wrap-content {
    @apply m-auto px-[15px] max-w-[1170px];
  }

  .divider {
    @apply border-4 border-flaex-text hover:border-flaex-hover-text duration-500 max-w-2xl  m-auto mt-20 mb-20;
  }

  .swiper_custom {
    &.swiper {
      @apply pb-[50px];

      .swiper-button-next,
      .swiper-button-prev {
        top: 50%;
        transform: translateY(-50%);

        &:hover {
          color: #f6b42c;
        }
        color: #f9ce75;
        &::after {
          font-size: 30px;
        }
      }
    }
  }

  .pagination-item {
    @apply m-2 text-[20px] flex items-center justify-center;
    button {
      @apply rounded-full w-[40px] h-[40px] p-2 cursor-pointer hover:text-flaex-heading flex items-center justify-center;
      &.active {
        @apply bg-flaex-heading text-white;
      }
    }
  }

  .button-primary {
    @apply py-2.5 text-base font-semibold rounded-[10px] bg-flaex-button w-full;
  }

  .button-dark {
    @apply px-4 py-2 text-lg rounded-md bg-flaex-bg-primary font-bold duration-200 hover:bg-flaex-bg-hover drop-shadow-md;
  }

  .center-inline {
    @apply mx-auto my-0 block;
  }
  .center-all {
    @apply flex justify-center items-center;
  }
  .bg-border-flaex {
    @apply border-flaex-border-table rounded-[10px] border-[0.2px] bg-flaex-border bg-opacity-[3%];
  }
  .bg-border-transparent-flaex {
    @apply border-flaex-border-table rounded-[10px] border-[0.2px];
  }

  .bg-flaex-linear {
    background: rgb(0, 36, 83);
    background: linear-gradient(
      90deg,
      rgba(0, 36, 83, 1) 35%,
      rgba(4, 12, 24, 1) 100%
    );
  }

  @media screen and (min-width: 768px) {
    .bg-flaex-linear {
      background: transparent;
    }
  }
}

@layer utilities {
  .btn-hover1 {
    @apply bg-[#374048] text-white;
  }
}
