:root {
  --font-family: 'Source Serif Pro', serif;
  --text: white;
  --bg-primary: #1c1c1c;
  // --sub-text: #e8e8e8;
  // --primary: #90f8ff;
  // --velvet-green: #00261c;
  // --text-card: #0b0f29;

  // --primary-hover: #57eef8;
}
